<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% if question.class == Comment %>
      <%= f.label "Leave a Comment" %><br />
    <%= f.hidden_field :reply_to, :value => reply_to.id %>
    <%= f.hidden_field :form, :value => 'qcomment' %>
    <% elsif reply_to %>
      <%= f.hidden_field :reply_to, :value => reply_to.id %>
      <%= f.label "Provide an Answer" %><br />
      <%= f.hidden_field :format, :value => 'answer' %>
    <% else %>
      <%= f.label "Pose a Question" %><br />
      <%= f.hidden_field :format, :value => 'question' %>
    <% end %>
    <%= f.text_area :text %>
  </div>
    <%= f.hidden_field :assertion_id, :value => reply_to.assertion.id if reply_to %>
  <div class="actions">
    <%= f.submit :value => "Submit" %>
  </div>
<% end %>
