<h3>Questions</h3>
<%= render 'questions/form', :question => @owner.questions.build, :owner => @owner, :reply_to => false, :format => 'question' %>
<table class = "question discussion">
<% @questions.each do |question| %>
  <tr>
    <td class = "question_body <%= 'author_comment_body' if question.author %> <% if question.author %> author_comment <% end %>">
      <div>
      <%= render 'questions/linktext', :comment => question %>
      <%= render 'shared/user_info', :user => question.user, :date => question.created_at %>
      <% unless question.comments.empty? %>
      <div class = "qcomment">
      <% question.comments.all.each do |c| %>
      
             <div>
             <%= render 'questions/linktext', :comment => c %>
             <br>
             <%= render 'shared/user_info', :user => c.user, :date => c.created_at %>
             </div>     
      <% end %>
      </div>
      <% end %>
      <div>
        <ul>
         <li class="replylink clickme">
         Comment
         </li>
         <li class="answerlink clickme">
         Answer
         </li>
         <li id = "numvotes_<%= question.id.to_s %>"><%= render 'votes/vote_form', :candidate => question %></li>
        </ul>
      </div>   
      <div class = "replyform hideonload">
      <%= render '/questions/form', :question => question.comments.build, :reply_to => question, :format => 'reply' %>
      </div>
      <div class = "answerform hideonload">
      <%= render '/questions/form', :question => question.questions.build, :reply_to => question, :format => 'answer' %>
      </div>
      </div>
    </td>
  </tr>
  <%= render 'questions/answers', :question => question %>
<% end %>   
</table>

