<%= form_for(Follow.new) do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<h3>Enter a Journal:</h3>
	<%= text_field_tag :journal %>
	<h3>or a Pubmed search term</h3>
	<%= f.text_field :search_term %>
	<p><%= f.submit "Follow" %></p>
<% end %>

