<div id = "feedNav">
  <ul>
    <% @feedhash.each_with_index do |follow, i| %>
        <li>
          <div>
            <% if follow[:newcount] > 0 %>
                <div class = 'badge badge-warning feedNotice'><%= follow[:newcount] %></div>
            <% end %>
            <% if follow[:recent_activity] > 0 %>
                <div class = 'badge badge-important feedNotice'>
                  <%= follow[:recent_activity] %>
                </div>
            <% end %>
          </div>
          <div class = "feed_nav_item  <%= follow[:type] + ' ' + follow[:css_class] + (i == 0 ? ' feed_nav_selected' : '')%>">
            <div style = "display:inline-block;">
              <%= button_to follow[:name], {:controller => "pages", :action => "feedswitch",  :switchto => follow[:css_class]}, :class => " loadingPrompt plainSubmit clickme ", :remote => true %><%= render '/shared/loading' %>
            </div>
            <div class = 'feed_remove hideonload'>
              <% if follow[:type] == 'follow' %>
                  <%= link_to '/follows/remove/' + follow[:id].to_s, :remote => true do %>
                      <icon class = "icon-remove"></icon>
                  <% end %>
              <% elsif follow[:type] == 'group' %>
                  <%= link_to '/groups/' + follow[:urlname].to_s + '/leave' do %>
                      <icon class = "icon-remove"></icon>
                  <% end %>
              <% end %>
            </div>
          </div>
        </li>
    <% end %>
    <% if @welcome_screen %>
        <li>
          <div style="display:inline-block" class="grey">
            <icon class='icon-arrow-left'></icon><b>Follow Dozens of Search Terms at Once</b>
          </div>
        </li>
    <% end %>
    <% if signed_in? %><li><div class = "feed_nav_item feedPlus clickme" >Add/Remove</div></li><% end %>
  </ul>
</div>
