<a name = <%= about.class.to_s.downcase + about.id.to_s %> ></a>
<table>
  <tr class = "summary" id = <%= about.class.to_s.downcase + about.id.to_s %> >
    <% if about.class == Paper %>
        <td class = "sumright">
          <h1>Summary of The Overall Paper</h1>
    <% elsif about.class == Fig %>
        <% if about.image %>
            <td width="180" align="center">
              <%= image_tag about.image.thumb('150x150').url, :class => 'thumbnail clickme'%>
              <div class = "citation"><%= about.shortname + '. '  + @paper.citation.to_s %></div>
              <%  if signed_in? %>
                  <%  if current_user.admin %>
                      <%=  link_to 'Remove Image', "/figs/#{about.id.to_s}/remove_image", :method => :delete  %>
                  <% end %>
              <% end %>
            </td>
        <% else %>
            <td width="180" align="center">
              <% if signed_in? %>
                  <% if current_user.certified? %>
                      <%= render '/figs/image_upload', :fig => about %>
                  <% end %>
              <% end %>
            </td>
        <% end %>
        <td class = "sumright">
          <% unless about.image.nil? %>
              <%= image_tag about.image.thumb('700x700>').url, :class => 'fullfig hideonload'%>
              <div class = "citation fullfig hideonload"><%= about.shortname + '. '  + @paper.citation.to_s %></div>
          <% end %>

          <h1>Fig <%= about.num.to_s %></h1>
    <% elsif about.class == Figsection %>
        <td class = "sumright">
          <h1>Section <%= about.letter(about.num) %></h1>
    <% end %>


    <p>

    <div class = 'latest_assertion clickme editme'><%= new_if_nil(about.latest_assertion).text.to_s.empty? ? 'Click to enter summary' : about.latest_assertion.text %></div>
    <div class = "hideonload editme_form">
      <% if signed_in? %>
          <% if current_user.certified? %>
              <%= render '/assertions/summary_form' , :assert => about.latest_assertion , :owner => about %>
          <% else %>
              <p>Sorry, you must be affiliated with an academic institution to post on Journal Lab. We'll change this soon!</p>
          <% end %>
      <% else %>
          <h3><%= link_to "Sign up", new_user_registration_path %> to leave a summary.</h3>
      <% end %>
    </div><br>
    <% if about.class != Paper %>
        <p class="method clickme editme">
          <%= new_if_nil(about.latest_assertion).method_text.to_s.empty? ? 'Click to list methods' : 'Methods: ' + about.latest_assertion.method_text %>
        </p>
    <% end %>
    <div class = "hideonload editme_form">
      <% if signed_in? %>
          <% if current_user.certified? %>
              <%= render '/assertions/methods_form' , :assert => about.latest_assertion, :owner => about %>
          <% else %>
              <p>Sorry, you must affiliated with an academic institution to post on Journal Lab. We'll change this soon!</p>
          <% end %>
      <% else %>
          <h3><%= link_to "Sign up", new_user_registration_path %> to leave a summary.</h3>
      <% end %>
    </div>
    <% if about.latest_assertion %>
        <%= render '/shared/user_info', :user => about.latest_assertion.user, :date => about.latest_assertion.updated_at, :anonymous => about.latest_assertion.anonymous if about.latest_assertion %>
    <% else %>
        <div class='user_info'></div>
    <% end %>
    <%= form_tag(:improve_list, :method => "get", :class => "improvelist") do  %>
        <%= hidden_field_tag :owner, about.class.to_s %>
        <%= hidden_field_tag :id, about.id %>
    <% end %>
    <div class="improve">
    </div><br>

    <% if signed_in? %>
        <div class = "reaction_list">
          <%= render '/reactions/reaction_list', :about => about %>
        </div>
    <% end %>
    <br>
    <div class = 'comment_form hideonload'>
    </div>
    <div class="contribute">

    </div>


    </div>
    <% comments = about.class == Fig ? about.meta_comments : about.comments %>
    <div class = "commentbox <%= 'hideonload' if comments.empty? %>", id = <%= 'comments_' + about.class.to_s + '_' + about.id.to_s %>>
    <h5>Comments</h5>
    <%= render('/comments/first_comment', :comment => comments.first, :owner => about) unless comments.empty? %>
    </div>

    </td>
  </tr>
</table>
<% if about.class == Fig %>
    <% unless about.nosections %>
        <% if about.figsections.empty? && signed_in?  %>
            <%= render '/papers/add_sections', :about => about %>
        <% elsif !about.figsections.empty? %>
            <div class = "figtoggle clickme">
              <img src="/assets/arrow_open_sm.png" alt="open" width="10" height="10"  class = 'hideonload'>
              <img src="/assets/arrow_closed_sm.png" alt="closed" width="10" height="10">
              <%= 'Sections A-'+ about.figsections.first.letter(about.figsections.count) %>
            </div>
            <div id="<%= "fig_" + about.num.to_s + "_sections"%>" class = "fig_sections hideonload">
              <% about.figsections.each do |section| %>
                  <table style = 'border-spacing: 0px;'><tr><td>
                    <table style = 'border-spacing: 0px;'><tr><td></td><tr><td class = 'summaryGap heat<%= @heatmap['figsection' + section.id.to_s][1] %>'></td></tr><tr><td></td></tr></table>
                  </td><td>
                    <div class = 'summaryBox heatBox<%= @heatmap['figsection' + section.id.to_s][1] %>' id = 'figsection<%= section.id.to_s %>'>
                      <table border="0" cellspacing="0" cellpadding="5">
                        <tbody><tr><td>
                          <%= render '/assertions/assertion', :about => section %>
                        </td></tr></tbody>
                      </table>
                    </div>
                  </tr></td></table>
              <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
