<%= form_for(@assertion) do |f| %>
  <% if @assertion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assertion.errors.count, "error") %> prohibited this assertion from being saved:</h2>

      <ul>
      <% @assertion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :paper_id %><br />
    <%= f.text_field :paper_id %>
  </div>
  <div class="field">
    <%= f.label :fig_id %><br />
    <%= f.text_field :fig_id %>
  </div>
  <div class="field">
    <%= f.label :figsection_id %><br />
    <%= f.text_field :figsection_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
