 <%= form_for assert, :class => "new_assertion"  do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
         <%= f.text_field :text, :onfocus => "this.value=''", :value => "What is the core conclusion of this " + type + "?" %>
         <br>
         <%= f.text_field :method, :onfocus => "this.value=''", :value => "What principle methods are used?" %>
      <div class="numfigs">
      <% if type == "figure" %>
       <br>
         This <%= type %> has 
         <%= select_tag :numsections, options_for_select(@numfig_select) %>
          section(s).
         <% elsif type == "paper" %>
      <br>
         This <%= type %> has 
         <%= select_tag :numfigs, options_for_select(@numfig_select) %>
          figure(s).
        <% end %>
        </div>
         <br>
         <%= f.hidden_field id %>
         <%= f.submit "Submit" %>

      </div>
      <% end %>

