 <%= form_for assert, :class => "new_assertion"  do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
         <% if assert.owner.latest_assertion.nil? || (@group.category == "class" && !current_user.lead_of?(@group)) %>
           <%= f.text_area :text, :value =>  "What is the core conclusion of this " + type + "?", :rows => 5 %>
           <br>
           <%= f.text_area :method, :value => "What principal methods are used?", :rows => 1 %>
           <%= f.text_field :alt_approach, :value => "What are alternate approaches?" if @group.category == 'class'%>

         <% else %>
           Summary:<%= f.text_field :text, :value =>  assert.owner.latest_assertion.text %>
           <br>
           Methods:<%= f.text_field :method, :value => assert.owner.latest_assertion.method %>
           <% if @group.category == 'class'%>
            <br>
            Alternate Approaches:<%= f.text_field :alt_approach, :value => assert.owner.latest_assertion.alt_approach %>
           <% end %>
         <% end %>
        </div>
         <%= f.hidden_field :about, :value => assert.owner.class.to_s.downcase %>
         <%= f.hidden_field :owner_id, :value => assert.owner.id.to_s %>
         <%= f.hidden_field :mode, :value => @mode %>

         <%= f.submit "Submit" %>
      <% end %>

