
<% history.each do |assertion| %>
<% if @group.let_through_filter?(assertion, current_user) %>
<div class="improvelist">
      <%= assertion.text %> 
      <br>
      <em><%= assertion.method %></em>
      <br>
      <%= render 'shared/user_info', :user => assertion.user, :date => assertion.created_at, :anon => !(assertion.user == current_user || assertion.user.lead_of?(@group)) && @group.category == 'class' %> 
    <div class="vote">
      <%= render '/votes/vote_form', :candidate => assertion %>
       <div id = "numvotes_<%=assertion.id%>" style="float:right;"><%= render '/votes/numvotes', :candidate => assertion %>
       </div>
    </div>
   </div>
<% end %>
<% end %>
