
<% history.each do |assertion| %>
<div class="improvelist">
      <%= assertion.text %> 
      <br>
      <% if assertion.about = 'figsection' %>
      <em><%= assertion.method %></em>
      <% end %>
      <%= render 'shared/user_info', :user => assertion.user, :date => assertion.created_at %> 
    <div class="vote">
      <%= render '/votes/vote_form', :candidate => assertion %>
       <div id = "numvotes_<%=assertion.id%>" style="float:right;"><%= render '/votes/numvotes', :candidate => assertion %>
       </div>
    </div>
   </div>
<% end %>

