<div class = 'methods_form'>
<%= form_for new_or_edit(assert), :class => "methods_form", :remote => true  do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
         <% if assert.nil? || new_if_nil(assert).method_text.to_s.empty? %>
           <%= f.text_area :method_text, :value => "Separate methods with commas (e.g. western blot, QPCR, etc.)", :rows => 1 %>
         <% else %>
           Methods:<%= f.text_field :method_text, :value => assert.method_text.to_s %>
         <% end %>
        </div>
        <%= f.hidden_field :about, :value => owner.class.to_s.downcase %>
        <%= hidden_field_tag :owner_id, owner.id.to_s %>
        <%= hidden_field_tag :mode, @mode %>
	<%= f.submit 'Submit' %>
<% end %>
</div>
