<div class='summary_form'>
<%= form_for new_or_edit(assert), :class => "new_assertion summary_form", :remote => true do |f| %>
      <div class="field">
         <% if assert.nil? || new_if_nil(assert).text.to_s.empty? %>
            <% if owner.class == Paper %>
                <%= f.text_area :text, :value =>  "Please provide a brief summary of this paper readable to a scientist outside of this field.", :rows => 5 %><br>
            <% else %>
           	    <%= f.text_area :text, :value =>  "What are the authors trying to show in " + owner.shortname + "?", :rows => 5 %><br>
            <% end %>
         <% else %>
            <%= f.text_area :text, :value =>  assert.text.to_s, :rows => 5 %><br>
         <% end %>
        <%=  render 'shared/anon_form', :f => f %><br>
        <%= f.submit 'Submit' %>
        </div>
        <%= f.hidden_field :about, :value => owner.class.to_s.downcase %>
        <%= hidden_field_tag :owner_id, owner.id.to_s %>
        <%= hidden_field_tag :mode, @mode %>

      <% end %>
</div>
