<h2>Sign up</h2>

<%= form_for(resource_name, resource, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_messages %>
  <h3>First name</h3>
  <%= f.text_field :firstname %> 

  <h3>Last name</h3>
  <%= f.text_field :lastname %> 


  <h3><%= f.label :email %></h3>
  <%= f.text_field :email %>

  <h3><%= f.label :password %></h3>
  <p><%= f.password_field :password %></p>

  <h3><%= f.label :password_confirmation %></h3>
  <p><%= f.password_field :password_confirmation %></p>

  <h3>Group Code</h3>
  <div class = "inline small grey">Optional, ignore this if you don't have one.</div>
  <p><%= text_field_tag :group_code %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</td><td valign = "top">
<h1>Thanks for registering!</h1>
<ul>
<li><h3>We're testing a system of online journal clubs.</h3></li>
<li><h3>We want to make it easier for labs to discuss the latest research.</h3></li>
<li><h3>Check out this week's journal club to get started.</h3></li>
</ul>
</td></tr></table>
