<table><tr><td>
<h2>Sign up</h2>

<%= form_for( resource, :url => registration_path(resource_name)) do |f| %>
  <div style = "color:red;"><%= devise_error_messages! %></div>
  <h3>First name</h3>
  <%= f.text_field :firstname %> 

  <h3>Last name</h3>
  <%= f.text_field :lastname %> 


  <h3><%= f.label :email %></h3>
  <%= f.text_field :email , :value => "Use a .edu address if you have one.", :onfocus =>  "if(this.value == 'Use a .edu address if you have one.') { this.value = ''; }"%>
  <div class="small grey">Entering a .edu address will help us verify that you are qualified to post on Journal Lab.</div>
  <h3><%= f.label :password %></h3>
  <p><%= f.password_field :password %></p>

  <h3><%= f.label :password_confirmation %></h3>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</td></tr></table>
