<%= form_for(comment, :remote => true) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= hidden_field_tag :mode, @mode %>
    <% if reply_to %>
    <%= f.hidden_field :reply_to, :value => reply_to.id %>
    <%= f.hidden_field :form, :value => 'reply' %>
    <% else %>
      <%= f.hidden_field :form, :value => 'comment' %>
    <% end %>
    <%= f.text_area :text, :value => boxtext(reply_to), :onfocus => "if(this.value == '#{boxtext(reply_to)}') { this.value = ''; }" %>
  </div>
    <% if @owner.latest_assertion %>
    	<%= f.hidden_field :assertion_id, :value => @owner.latest_assertion.id %>
    	<%= hidden_field_tag :owner_id, @owner.id %>
    	<%= hidden_field_tag :owner_class, @owner.class.to_s %>  
    <% else %>
    	<%= hidden_field_tag :owner_id, @owner.id %>
    	<%= hidden_field_tag :owner_class, @owner.class.to_s %>
    <% end %>
  <div class="actions">
    <%= f.submit :value => "Submit" %>
  </div>
<% end %>
