<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% if reply_to %>
      <%= f.label "Leave a reply" %><br />
    <%= f.hidden_field :reply_to, :value => reply_to.id %>
    <% else %>
      <%= f.label "Leave a comment" %><br />
    <% end %>
    <%= f.text_area :text %>
  </div>
    <%= f.hidden_field :assertion_id, :value => @assertion.id if @assertion %>
  <div class="actions">
    <%= f.submit :value => "Submit" %>
  </div>
<% end %>
