<table class = "comment discussion">
<% @comments.each do |comment| %>
  <tr >
    <td class = "<% if comment.comments.count > 0 %> has_reply <% end %> <% if comment.author %> author_comment <% end %> comment_body">
      <div class = "comment_body <%= 'author_comment_body' if comment.author %>">
      <% if comment.owner != @owner %>
	<h5>Regarding <%= comment.owner.shortname%>:</h5>
      <% end %> 
      <%= render 'linktext', :linktext => comment.linktext %>
      <%= render 'shared/user_info', :user => comment.user, :date => comment.created_at, :anonymous => comment.anonymous, :checkanon => true %>
      <%= render 'reactions/comment_reactions', :comment => comment %>
      <div class = 'subMenu'>
        <ul>
	<% if user_signed_in? %>
	<% if current_user.certified %>
         <li class="replylink clickme">
	Reply
         </li>
         <li id = "numvotes_<%= comment.id.to_s %>"><%= render 'votes/vote_form', :candidate => comment %></li>
        </ul>
      </div>
      <div> 	      
        <div class = "replyform hideonload">
			<%= render '/comments/form', :comment => comment.comments.build, :reply_to => comment, :format => 'reply', :owner => comment.owner %>
        </div>
	<% end %>
	<% end %>

      </div>
      </div>
    </td>
  </tr>
    <%= render 'comments/replies', :comment => comment %>
<% end %>   
</table>

