<h4>Comments</h4>
<table class = "comment discussion">
<% @comments.each do |comment| %>
  <tr>
    <td <% if comment.comments.count > 0 %> class = "has_reply" <% end %>>
      <%= render 'shared/user_info', :user => comment.user, :date => comment.created_at %>
      <div class = "comment_body">
      <%= render 'votes/vote_form', :candidate => comment %>
      <%= render 'comments/linktext', :comment => comment %>
      <br>
      <nav>
        <ul>
         <li class="replylink">
	Reply
         </li>
         <li id = "numvotes_<%= comment.id.to_s %>"><%= render 'votes/numvotes', :candidate => comment %>
        </ul>
      </nav> 
      <div class = "replyform">
      <%= render '/comments/form', :comment => comment.comments.build, :reply_to => comment, :a => comment.assertion, :format => 'reply' %>
      </div>
      </div>
    </td>
  </tr>
    <%= render 'comments/replies', :comment => comment %>
<% end %>   
</table>
<%= render 'comments/form', :owner => @parent, :comment => @parent.comments.build,  :reply_to => false, :format => 'comment' %>
