<table class = "comment discussion">
<% comments.each do |comment| %>
  <tr>
    <td <% if comment.comments.count > 0 %> class = "has_reply" <% end %>>
      <%= render 'shared/user_info', :user => comment.user, :date => comment.created_at %>
      <div class = "comment_body">
      <%= render 'votes/vote_form', :candidate => comment %>
      <%= render 'comments/linktext', :comment => comment %>
      <br>
      <nav>
        <ul>
       <% if format == 'comment' %>
         <li>
         <%= link_to 'Reply', '/comments/' + comment.id.to_s + '/reply'  %>
         </li>
       <% elsif format == 'question' %>
         <li>
         <%= link_to 'Comment', '/questions/' + comment.id.to_s + '/comment'  %>
         </li>
         <li>
         <%= link_to 'Answer', '/questions/' + comment.id.to_s + '/answer'  %>
         </li>
       <% end %>
         <li id = "numvotes_<%= comment.id.to_s %>"><%= render 'votes/numvotes', :candidate => comment %>
        </ul>
      </nav> 
      </div>
    </td>
  </tr>
    <%= render 'comments/replies', :comment => comment %>
<% end %>   
</table>
