<div class = 'quickform quick_<%= form %> hideonload'>
	<%= form_tag '/quickform', :method => :post, :remote => true do %>
		<%= hidden_field_tag :paper, @paper.id %>
		<%= hidden_field_tag :form, form %>
		<%= hidden_field_tag :mode, @mode %>
		<h3><%= form == 'comment' ? 'Leave a comment on' : 'Pose a questions about' %>:</h3>
		<div class = 'figSelector'>
			<div class = 'selectFig clickme round' >
				Fig <%= text_field_tag :fig, '2, 3C, etc.', :onfocus => "if(this.value == '2, 3C, etc.') { this.value = ''; }" %>
			</div>
			<div class = 'selectPaper clickme round'>
				The Overall Paper
			</div>
		</div>
		<div class = 'textfield'>
			<%= text_area_tag :text %><br>
			<%= submit_tag 'Submit' %>
		</div>
	<% end %>
</div>

