<% if current_user.get_group.id %>
<div class = "share_form">
    <%= form_for item.shares.create, :remote => true do |f| %>
      <%= f.hidden_field :id, :value => item.id %>
      <%= f.hidden_field :type, :value => item.class.to_s %>
      <%= f.hidden_field :group, :value => @group.id %> 
      <%= f.text_field :text, :value=> "Check this out!" %>
      <%= f.submit "Share with your " + @group.category %>
    <% end %>
</div>
<div class = "share_confirmation hideonload">
   Shared! Your <%= @group.category %>mates will be notified by e-mail and on their feeds.
</div>
<% end %>
