<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @author.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @author.lastname %>
</p>

<p>
  <b>Paper:</b>
  <%= @author.paper_id %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
