<h4>Class Reading:</h4>
<% @classdates.each do |date| %>
  <% paper = @papers[date[0]] %>

  <% unless paper.supplementary?(@group) %>
  <div class = "classdate <% if Time.now > date[1] %>passed<% end %> round">
   
   <%= render 'shared/display_date', :date => date[1] unless date[1].nil? %>
  </div>
  <% end %>

  <div class = "<% if paper.supplementary?(@group) %>supp_paper<% else %>classpaper<% end %> <% if current_user.visited?(paper) %> viewed<% end %> <% if Time.now > date[1] %>passed<% end %>">
    <% if paper.supplementary?(@group) %><strong>Supplemental: </strong><% end %> <%= link_to paper.title, paper %></br>
    Journal: <%= paper.journal %> 
    | 
    Pubmed ID: <%= link_to paper.pubmed_id, 'http://www.ncbi.nlm.nih.gov/pubmed/' + paper.pubmed_id.to_s %>
    <br>
     <% paper.authors.each do |a| %>
     <%= a.lastname %>, <%= a.firstname %>
     <% unless a == paper.authors.last %>
     |
     <% end %> 
  <% end %>
  </div>
<% end %>

<% unless @general.empty? %>
<hr>
<h4>Additional Nonrequired Reading</h4>
<% end %>
<% @general.each do |paper| %>
    <div class = "supp_paper <% if current_user.visited?(paper) %> viewed<% end %>">
    <%= link_to paper.title, paper %></br>
    Journal: <%= paper.journal %> 
    | 
    Pubmed ID: <%= link_to paper.pubmed_id, 'http://www.ncbi.nlm.nih.gov/pubmed/' + paper.pubmed_id.to_s %>
    <br>
     <% paper.authors.each do |a| %>
     <%= a.lastname %>, <%= a.firstname %>
     <% unless a == paper.authors.last %>
     |
     <% end %> 
  <% end %>
  </div>
<% end %>
