<% unless recent_discussions.empty? %>
    <h2>Past Discussions:</h2>
    <div id = "slides" class = 'discussion'>

      <div class = 'slides_container'>
        <% recent_discussions.each do |disc| %>
            <%= link_to '../papers/' + disc[:paper_id].to_s do %>
                <div class = 'slide'>
                  <table>
                    <tr>
                      <td>
                        <% if disc[:hottest_fig] %>
                            <% if disc[:hottest_fig].image %>
                                <%= image_tag disc[:hottest_fig].image.thumb('200x200').url %>
                            <% end %>
                        <% end %>
                      </td>
                      <td valign = 'top'>
                        <h2><%= disc[:title] %></h2>
                        <ul>
                          <%  disc[:reactions].each do |r| %>
                              <li class="reactionlink badge badge-success"><%= r[:name] + ' x' + r[:number].to_s %></li>
                          <% end %>
                        </ul>
                        <p>
                          <% unless disc[:hottest_fig_comment].nil? %>
                              "<%= disc[:hottest_fig_comment] %>"
                          <% end %>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
            <% end %>
        <% end %>
      </div>
      <a href="#" class="prev"><%= image_tag "arrow-prev.png", :width => "24", :height => "43", :alt => "Arrow Prev" %></a>
      <a href="#" class="next"><%= image_tag "arrow-next.png", :width => "24", :height => "43", :alt => "Arrow Next" %></a>
    </div>
<% end %>
