<div class = "update_feed">
<% @feed.each do |item| %>
   <div class = "feeditem update_feed floatleft" <%= "style = 'background:#BDD;'" if item[4]%>>
    <strong><%= item[0].firstname + ' ' + item[0].lastname.first + '.' %></strong> <%= item[1] %> <strong><%= link_to item[2].title, item[2] %><%= link_to(image_tag("pdf.png"), "http://pubget.com/paper/" + item[2].pubmed_id.to_s) %></strong>
     <br>
     <% if !item[5].nil? %>
      <div class = "sharetext">
        <strong>"</strong><%= render 'comments/linktext', :comment => item[5] %><strong>"</strong>
      </div>
     <% end %>
     <em><%= item[3].strftime('%B %d, %Y') %></em>
    </div>
<% end %>

</div>
