<div id = "updateFeed">
<% @feed.each do |item| %>
<div class = "search_results">
	<table><tr><td width = "740">
		<%= render '/papers/list', :paper => item[2], :authors => item[2].authors %>
	</td>
	<% if item[0].image %>
		<td width="80">
			<div class = "feedImage"><%= image_tag item[0].image.thumb('80x80>').url, :alt => item[0].name, :width => "80", :height => "80" %></div>
		</td>
	<% end %>
	</tr></table>
     <% if !item[5].nil? %>
      <div class = "sharetext">
	<strong><%= item[0].firstname + ' ' + item[0].lastname.first + '.' %></strong> <%= item[1] %>
        <strong>"</strong><%= render 'comments/linktext', :comment => item[5] %><strong> "</strong>
      </div>
     <% end %>
     <div id = "timestamp" class="small grey"><%= item[3].strftime('%B %d, %Y') %></div>
</div>
<% end %>

</div>
