<div id = "group_list">
  <% unless @groups.empty? %>
      <h1 align="center">My Journal Clubs</h1>
  <% end %>
  <% @groups.each do |group| %>
      <div class = "well group_select">
        <h2><%= group.name %></h2>
        <%=  group.desc %>
        <div>
          <%=  link_to 'Leave Journal Club', "/groups/#{group.id}/leave" %>
        </div>

      </div>
  <% end %>
  <% if (Group.all.select{|g| g.public} - @groups).count > 0 %>
      <h1 align="center">Join a Virtual Journal Club</h1>
      <% (Group.all.select{|g| g.public} - current_user.groups).each do |group| %>
          <div class = "well group_select">
            <h2><%= group.name %></h2>
            <%=  group.desc %>
            <div>
              <%=  link_to 'Join Journal Club', "/groups/#{group.id}/join" %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>