<h2><%= @group.name %></h2>
<div class = "groupdesc"><%= @group.desc %>
<% if @group.category == 'class' %>
  <strong>
  Instructors: 
  <% @instructors.each do |i| %>
       <%= i.lastname %>, <%= i.firstname %> 
       <% unless i == @instructors.last %>
       | 
       <% end %>
  <% end %>
  </strong>
</div>
<hr>
  <%= render 'class_papers' %>
<% end %>
