<div id = 'historyFeed' class = "lightbox hideonload"> 
<% @recent_visits.each do |paper| %>
  <div class="search_results2">
  <%= link_to paper.title, paper %>
  <div class="sr_info2">
  <%= paper.journal %> | <%= paper.pubdate.year %> 
  <% if paper.authors.count > 0 %>
		| <div class = "inline grey"> First Author: <%= link_to paper.authors.first[:name], '/lookup/' + paper.authors.first[:firstname] + '+' + paper.authors.first[:lastname] %> 
		<% if paper.authors.count > 1 %>
			| Last Author: <%= link_to  paper.authors.last[:name], '/lookup/' + paper.authors.last[:firstname] + '+' + paper.authors.last[:lastname] %></div>
		<% end %>
  <% end %>
  </div>
  </div>
<% end %>
</div>
