<% @recent_visits.each do |p| %>
  <div class="search_results2">
  <div class="sr_title"><%= link_to p.title, p %></div>
  <div class="sr_info2">
  <%= p.journal %> | <%= p.pubdate.year %> <br>
  </div>
  <% @recent_activity[p].to_a.each do |a| %>
     <div class = 'sharetext'><b><%= a.class.to_s %></b>: <div class = 'bigquote'>“</div><%= render 'comments/linktext', :linktext => a.linktext %><div class='bigquote'>”</div></div>
  <% end %>
  </div>
<% end %>
