
<h1>Bulk User Sign Up</h1>


Add users to group: </br>
<%= form_tag do %>
<%= select_tag :group_id, options_from_collection_for_select(@groups, "id", "name") %>


 <% for user in @users %>

  <div class="field">
       <%= label_tag :firstname, "First Name" %>
       <%= text_field_tag 'firstnames[]' %>
    </div>
  <div class="field">
       <%= label_tag :lastname, "Last Name" %>
       <%= text_field_tag 'lastnames[]' %>
    </div>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag 'emails[]' %>
  </div>
 <% end %>
  <div class="actions">
    <%= submit_tag "Sign up" %>
  </div>
<% end %>

