<div id = 'contentMain'>
  <div id = 'paperInfo' class = "round" style = "text-align:left; padding: 10px;">
    <%= image_tag @user.image.thumb('50x50>').url, :alt => @user.name if @user.image %><h1 class = "inline" valign = "top"> <%= @user.name %>'s Email Settings</h1>
    <%=  form_for 'user/subscriptions' do |f| %>
        <h3>Recurring Email</h3>
    <%= @recurring.each do |option| %>
            <p>
           <%= f.check_box weekly %> <%= f.label weekly option[:option] %>
            </p>
            <%=  option[:desc] %><br>
     <% end  %>
        <h3>Notifications</h3>
        <%= @notification.each do |option| %>
            <p>
              <%= f.check_box weekly %> <%= f.label weekly option[:option] %>
            </p>
            <%=  option[:desc] %><br>
        <% end  %>

