
<h1>Sign Up</h1>
<table>
<tr>
<td>
<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
</td>
<td class = "groupselect">
    Please select your class if applicable: </br>
    <% @groups.each do |group| %>
      <% if group.category == "class" %>
        <%= radio_button_tag :group_id, group.id %>
        <%= label_tag :group_id, group.name %>
      <% end %>
    <% end %>
</td>
</tr>
<tr>
<td>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</td>
</tr>
</table>

