

<div id="contentMain">
  <h1>Member Profile</h1>
  <div id="profileInfo">
    <table><tr><td id = 'profileImage'>
      <% if @user == current_user %>
          <% if @user.image %>
              <%= image_tag @user.image.thumb('300x300>').url, :alt => @user.name, :width => "300", :height => "300", :id => "profilephoto", :class => "profilePhoto clickme editme" %>
          <% else %>
              <div class='upload_form'>
                Upload a profile picture
                <%= form_for @user, :url => "#{@user.id}/image_upload", :html => {:multipart => true} do |f| %>
                    <%= f.file_field :user_image %>
                    <%= f.hidden_field :id %><br>
                    <%= f.submit 'Upload' %>
                <% end %>
              </div>
          <% end %>
          <div class='upload_form hideonload'>
            Upload a new profile picture
            <%= form_for @user, :url => "#{@user.id}/image_upload", :html => {:multipart => true} do |f| %>
                <%= f.file_field :user_image %>
                <%= f.hidden_field :id %><br>
                <%= f.submit 'Upload' %>
            <% end %>
          </div>
      <% else %>
          <% if @user.image %>
              <%= image_tag @user.image.thumb('300x300>').url, :alt => @user.name, :width => "300", :height => "300", :class => "profilePhoto" %>
          <% else %>
              <%= image_tag 'green_testube.jpg', :alt => "#{@user.firstname} has not uploaded a profile.", :width => "300", :height => "300", :class => "profilePhoto" %>
          <% end %>
      <% end %>
    </td><td>
      <h2><%= @user.name %></h2><br>

      <div id="positionInfo">
        <% if @user == current_user %>
            <p class = 'small grey'>
              <em>
              Click on profile information to change it.
            </em>
            </p>

            <div class = "clickme editme <%= 'linklike' if !@user.position %>" id="position"><%= @user.position ? @user.position : "Enter your position" %></div>
            <div class = "hideonload editme_form">
              <%= form_for @user do |f| %>
                  <%= f.text_field :position %>
              <% end %>
              <i>Press enter to save</i>
            </div>,
            <div class = "clickme editme <%= 'linklike' if !@user.institution %>" id="institution"><%= @user.institution ? @user.institution : "Enter your institution" %></div>
            <div class = "hideonload editme_form">
              <%= form_for @user do |f| %>
                  <%= f.text_field :institution %>
              <% end %>
              <i>Press enter to save</i>
            </div>
        <% else %>
            <%= @user.position %><%= ', ' + @user.institution if @user.institution %>

        <% end %>
      </div>
      <br>
        <% if @user == current_user %>
            <div class = "clickme editme <%= 'linklike' if !@user.specialization %>" id="specialization"><%= @user.specialization ? "Focus: #{@user.specialization}" : "Enter your research focus" %></div>
            <div class = "hideonload editme_form">
              <%= form_for @user do |f| %>
                  <%= f.text_field :specialization %>
              <% end %>
              <i>Press enter to save</i>
            </div>
        <% elsif @user.specialization %>
            Focus: <%= @user.specialization %>
        <% end %>

        <p>
          <% if @user == current_user %>
            <div class = "clickme editme linklike" id="homepage">Edit Homepage Link</div>
            <div class = "editme_form hideonload">
              <%= form_for @user do |f| %>
                  <%= f.text_field :homepage %>
              <% end %>
              <i>Press enter to save</i>
            </div>
            •
            <div class = "clickme editme linklike" id="cv">Edit CV Link</div>
            <div class = "editme_form hideonload">
              <%= form_for @user do |f| %>
                  <%= f.text_field :cv %>
              <% end %>
              <i>Press enter to save</i>
            </div>
            <p>
            <div class = "clickme editme linklike">Change Password</div>
            <div class = "editme_form hideonload">
              <%= form_for @user do |f| %>
                  New Password: <%= f.password_field :password %><br>
                  Confirmation: <%= f.password_field :password_confirmation %><br>
                  <%= f.submit 'Change Password' %>
              <% end %>
            </div>
            <div>
              <%=  link_to '/users/' + @user.id.to_s + '/subscriptions' do %>
                  Email Settings
              <% end %>
            </div>
        <% else %>
            <%= link_to "Homepage", @user.homepage if @user.homepage %>
            <%= " • " if @user.cv && @user.homepage %>
            <%= link_to "CV", @user.cv if @user.cv %></p>
        <% end %>

        <p>
          <% if @user.votes_for_me.count > 0 || @user.impact[:users] > 1 %>
              <br>
              <h2><%= @user.firstname %>'s Journal Lab Activity:</h2>
          <% end %>
          <% if @user.votes_for_me.count > 0 %>

              <b>Has received <%= pluralize(@user.votes_for_me.count,"Nod") %>.</b>
              <br>

          <% end %>
          <% if @user.impact[:users] > 1 %>
              <p>Has been viewed <%= @user.impact[:visits]%> times.  </p>
              <p>Has been viewed by <%=  @user.impact[:users]%> members of the research community. </p>
          <% end %>
          </p>
          </td>
    </tr>
    </table>
  </div>
</div>
