<div class = 'quickform'>
	<%= form_tag '/quickform', :method => :post, :remote => true do %>

		<h3>What do you think?</h3>
		<div class = 'figSelector'>
			<h5>This is a reaction to:</h5>
			<div class = 'selectFig clickme round' >
				Fig <%= text_field_tag :fig, '2, 3C, etc.', :onfocus => "if(this.value == '2, 3C, etc.') { this.value = ''; }" %>
			</div>
			<div class = 'selectPaper clickme round'>
				The Overall Paper
			</div>
		</div>
	<div class = "reaction_list">
	<ul class = "nomargin nopadding">
				<%= hidden_field_tag :paper, @paper.id %>

		<% Reaction.new.defaults.each do |r| %>
           		<li class="reactionlink clickme badge badge-info">  
				<%= submit_tag r , :class => "plainSubmit", :id => r %>
          		</li>
        	<% end %>
        	 <li class="reactionlink custom_reaction clickme badge badge-info">  
		     	Other:
			<%= text_field_tag :name %>
			<%= submit_tag 'Submit', :class => 'custom_reaction_submit' %>
          	</li>
	</ul>
	</div>
	<% end %>
</div>
<div class = "hideonload">
<h3>Just a sec..</h3>
</div>

