<% if @error %>
]
     $(header).insertAfter("
             <div class='flash error'>Please keep reactions under 100 characaters. You will have ample opportunity to expound later.</div>
             ");
<% else %>
<% if @newreaction %>
	$('<%= @owner.jquery_target %>').find('div.reaction_list').first().html('<%= escape_javascript(
		render '/reactions/reaction_list', :about => @owner
	)%>');
	$('<%= @owner.jquery_target %>').find('div.reaction_list').show();
        $('<%= @owner.jquery_target %>').addClass('heatBox<%= @heatmap[@owner.inspect][1] %>');

<% end %>

$('<%= @owner.jquery_target %>').find('div.comment_form').first().html('<%= escape_javascript(
	render 'comments/form', :owner => @owner, :comment => @owner.comments.build,  :reply_to => false, :format => 'comment'
)%>');
$('<%= @owner.jquery_target %>').find('div.comment_form').first().show(300);
<% end %>