<div class="user_info">
  <% if anonymous %>
    <span class="anon_name">
	<% if @paper %>
	      <strong>Anonymous</strong> (<font rel="tooltip" title="Use these names to distinguish one anonymous user from another." class = "clickme"><%= user.anon_name(@paper) %></font>)
	<% else %> 
	      <strong>Anonymous</strong>
	<% end %>
    </span>
    <% if date %>
    	<div class = 'small inline' ><em><%= render 'shared/display_date', :date => date %></em></div>
    <% end %>
  <% else %>

    <div style="display:inline-block; vertical-align: top;"><%= image_tag user.image.thumb('20x20>').url, :alt => user.name, :width => "20", :height => "20" if user.image %>
    </div>
      <div style="display:inline-block; font-size:10px; line-height: 10px;">
      <div class="user_name">
      <a href="<%= user_path(user) %>"><%= user.name %>  </a>
    </div>
        <div>
          <%= user.position %>, <%= user.institution %>
        </div>

      </div>

    <% if date %>
	    <div class = 'small inline'><em><%= render 'shared/display_date', :date => date %></em></div>
    <% end %>
  <% end %>

</div>
