<% anon = false unless anon %>
<div class="user_info">

<% if anon %>
    <span class="user_name">
      <%= user.anon_name %>
    </span>
    <% if date %>
    <em><%= render 'shared/display_date', :date => date %></em>
    <% end %>
<% else %>
  <a href="<%= user_path(user) %>">
    <span class="user_name">
      <%= user.name %>
    </span>
  </a>
    <% if date %>
    <em><%= render 'shared/display_date', :date => date %></em>
    <% end %>
<% end %>
</div>
