
<div id = "slides" class = 'home'>
  <div class = 'slides_container'>
    <div class = 'slide'>
      <%= image_tag 'https://s3.amazonaws.com/j.lab-images/static/pipette.jpg' %>
      <div class = 'slideHeader imageOverlay'>Better PubMed Search</div>
      <div class = 'imageOverlay slideText'>
        We're experimenting with radically better ways to absorb and discuss published science.
      </div>
    </div>
    <div class = 'slide'>
      <%= image_tag 'https://s3.amazonaws.com/j.lab-images/static/slideshow1.png' %>
      <div class = 'imageOverlay slideHeader'>Track more research in less time.</div>
      <div class = 'imageOverlay slideText'>
        One click, one glance, everything relevant to your work.
      </div>
    </div>
    <div class = 'slide'>
      <%= image_tag 'https://s3.amazonaws.com/j.lab-images/static/slideshow2.jpg' %>
      <div class = 'imageOverlay slideHeader'>Never be caught off guard.</div>
      <div class = 'imageOverlay slideText'>
        Always know when a new paper in your field is published.
      </div>
    </div>
    <div class = 'slide'>
    <%= image_tag 'https://s3.amazonaws.com/j.lab-images/static/slideshow3.png' %>
      <div class = 'imageOverlay slideHeader'>Get a second opinion.</div>
      <div class = 'imageOverlay slideText'>
        Share figure-by-figure insights with other experts in the field.
      </div>
    </div>
    <div class = 'slide'>
      <%= image_tag 'https://s3.amazonaws.com/j.lab-images/static/slideshow4.jpg' %>
      <div class = 'imageOverlay slideHeader'>Boost your impact.</div>
      <div class = 'imageOverlay slideText'>
        Summarize your papers to increase their visibility.
      </div>
    </div>
    <div class = 'slide'>
      <%= image_tag 'https://s3.amazonaws.com/j.lab-images/static/slideshow5.jpg' %>
      <div class = 'imageOverlay slideHeader'>Simplify your workflow.</div>
      <div class = 'imageOverlay slideText'>
        Customizable Folders, Quick Abstracts, One-Click PDFs.
      </div>
    </div>
  </div>
	<a href="#" class="prev"><%= image_tag "arrow-prev.png", :width => "24", :height => "43", :alt => "Arrow Prev" %></a>
	<a href="#" class="next"><%= image_tag "arrow-next.png", :width => "24", :height => "43", :alt => "Arrow Next" %></a>
</div>
<div id = "temp_follow_form">
	<h2>Learn more. Enter a few terms that you regularly search on PubMed.</h2>
	<%= form_tag '/welcome', :method => :post do %>
		<%= text_field_tag :temp_follows, "microRNA, mir-181, mir-294", :onfocus => "if(this.value == 'microRNA, mir-181, mir-294') { this.value = ''; }" %>
		<%= submit_tag "Go", :class => 'btn-warning round loadingPrompt', :style => 'font-size: 30px;', :onClick => "_gaq.push(['_trackEvent', 'Users', 'Tempfeeds']);" %><%= render '/shared/loading' %>
	<% end %>
</div>

