<em>All metrics are over the past month</em>

<h1>Core Use Metrics</h1>

<%= day_line_graph(@vanity) %>

<h1>Total Users</h1>

<%= day_line_graph(@total_users) %>

<h1>Views</h1>

<%= day_line_graph(@views) %>

<h1>Key Ratios</h1>

<table>
  <tr>
    <td>
      <h1><%= @nod_discussion_ratio.to_s.first(4) %></h1>
      Nods per Discussion ||
    </td>
    <td>
      <h1><%= @reply_discussion_ratio.to_s.first(4) %></h1>
      Replies per Discussion ||
    </td>
    <td>
      <h1><%= @action_pageview__ratio.to_s.first(4) %></h1>
      Actions per Pageview ||
    </td>
    <td><h1><%= @active_users %></h1>
      Recurring Users This Month ||
    </td>
    <td><h1><%= @returning_this_month %> / <%=  @registered_this_month %></h1>
      Returning Users / Total Registered This Month
    </td>
  </tr>
</table>

<h1>Histograms</h1>
<table>
  <tr>
    <td>
      <%= bar_graph(@nods_per_discussion, "Nods per Discussion") %>
    </td>
    <td>
    <%= bar_graph(@replies_per_discussion, "Replies per Discussion") %>
  </td>
  </tr>
  <tr>
    <td>
      <%= bar_graph(@visits_per_user, "Visits Per User") %>
    </td>
    <td>
      <%= bar_graph(@discussion_per_user, "Comments/Reactions Per User") %>
    </td>
  </tr>
</table>

