<%= stylesheet_link_tag 'jl_styles_home', :media => 'screen' %>

<div id="homeLogo"><%= image_tag 'journal_lab_logo.gif', :id => 'mainlogo' %></div>

<div id="homeSearch">
<%= form_tag('/lookup', :method => "get") do  %>
   <h1><%= label_tag :pubmed_id, 'Discuss Published Science With Smart People.' %></h1>
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td>
   	<%= text_field_tag :pubmed_id, "Search PubMed  with style.", :onfocus =>  "if(this.value == 'Search PubMed with style') { this.value = ''; }", :class => "inputSearch" %>
	</td>
<td valign="middle">   <%= image_submit_tag("button_go.png") %></tb></tr></table>
  

<% end %>

<% if signed_in? && @group.id != nil %>
<div id = "homeFeed" class = "feed round">
  <h1><%= @group.name %></h1>
    <% if @group.category == "class" %>
    <strong>
     Instructors: 
     <% @instructors.each do |i| %>
       <%= i.lastname %>, <%= i.firstname %> 
       <% unless i == @instructors.last %>
       | 
       <% end %>
     <% end %>
     </strong>
      <%= render '/groups/class_papers' %>
    <% elsif @group.category == "lab" %>
      <%= render '/groups/nav' %>
      <%= render '/groups/feed' %>
      <%= render '/groups/most_viewed_feed' %>
      <%= render '/groups/sumreq_feed' if !@group.sumreq_feed.nil? %>
    <% end %>
</div>
<% end %>
