<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
<%= form_tag('/lookup', :method => "get") do %>
<%= label_tag(:pubmed_id, "Search for:") %>
  <%= text_field_tag(:pubmed_id) %>
  <%= submit_tag("Submit") %>
<% end %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
<h1>Sample App</h1>
<p>
<%= form_tag('/lookup', :method => "get") do %>
<%= label_tag(:pubmed_id, "Search for:") %>
  <%= text_field_tag(:pubmed_id) %>
  <%= submit_tag("Submit") %>
<% end %>

</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
