<%= stylesheet_link_tag 'jl_styles_sum1', :media => 'screen' %>
<%= stylesheet_link_tag 'jl_styles_home', :media => 'screen' %>


<div id="homeLogo"><%= image_tag 'jl_logo_trans_M.png', :id => 'mainlogo' %></div>

<% if user_signed_in? %>
<div id="homeSearch">
<%= form_tag('/lookup', :method => "get") do  %>
   <br>
   <h1>Discuss Peer Reviewed Science With Smart People.</h1>
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td>
   	<%= text_field_tag :search, "Find a paper and share your insights.", :onfocus =>  "if(this.value == 'Find a paper and share your insights.') { this.value = ''; }", :class => "inputSearch searchreset" %>
	</td>
<td valign="top" class = "Search">   <%= submit_tag "GO", :class => 'btn-tiny btn-warning round'%></tb></tr></table>
  

<% end %>
</div>

<%= render '/feed/feeds' %>
<% else %>
<div id="features">
	<div><h1>The world needs a few good post-docs.</h1> <h3>Retraction rates are on the rise, peer review is becoming increasingly <br> political, and no one’s talking about negative data. <p>It's time for change.</p></h3></div>
	<div><h1>We need your help.</h1> <h3>We’re a tiny group post-docs and open science activists building a community of researchers <br> who openly share insights about published research. <p>Enter your research interests below to learn more.</h3></div>
	<div><h1>Put the Punch Back in Impact Factor</h1> <h3>Impact factor was never meant to measure your contribution as a scientist. <p> Easily see the impact that articles have across the web and add your own expertise.</h3></div>
	<div><h1>Good Science is About More </h1> <h1>Than Where You Publish</h1> <h3>We think that it should be much easier to stay up to date with the latest research<br> and that impactful articles should rise to the top, regardless of the journal they’re published in.</h3></div>
	<div><h1>Contribute to Science (and Get Credit)</h1> <h1>in 2 Minutes or Less</h1> <h3>Earning reputation should be about more than being first author on a Nature paper. <p>Accumulate reputation every time you record an insight about a published paper.</h3></div>	

</div>

<div id = "temp_follow_form">
<h2>Learn more. Enter a few terms that you regularly search on PubMed.</h2>
Separate with commas like so: <i>"mRNA, lymphocite signalling pathways, MiR-120"</i>
<%= form_tag '/welcome', :method => :post do %>
	<%= text_field_tag :temp_follows %>
	<p><%= submit_tag "Go", :class => 'btn-tiny btn-warning round loadingPrompt' %><%= render '/shared/loading' %></p>
<% end %>
</div>

<% end %>
