<p><%= image_tag 'jlablogo.png', :id => 'mainlogo' %></p>

<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
  <%= form_tag('/lookup', :method => "get", :class => "homepage_search round") do  %>
     <%= label_tag :pubmed_id, 'Find a paper...' %>
           <%= text_field_tag :pubmed_id %></br>
     <%= submit_tag("Search") %>
  <% end %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info', :user => current_user, :date => nil %>
        <em>List of recently viewed papers will go here.</em> 
      </td>
    </tr>
  </table>
<% else %>
 <%= form_tag('/lookup', :method => "get", :class => "homepage_search round") do  %>
     <%= label_tag :pubmed_id, 'Find a paper...' %>
           <%= text_field_tag :pubmed_id %></br>
     <%= submit_tag("Search") %>
<% end %>
<% end %>

