<%= stylesheet_link_tag 'jl_styles_sum1', :media => 'screen' %>
<%= stylesheet_link_tag 'jl_styles_home', :media => 'screen' %>


<div id="homeLogo"><%= image_tag 'jl_logo_trans_M.png', :id => 'mainlogo' %></div>

<div id="homeSearch">
<%= form_tag('/lookup', :method => "get") do  %>
   <br>
   <h1>Discuss Peer Reviewed Science With Smart People.</h1>
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td>
   	<%= text_field_tag :search, "Find a paper to discuss.", :onfocus =>  "if(this.value == 'Find a paper to discuss.') { this.value = ''; }", :class => "inputSearch searchreset" %>
	</td>
<td valign="top" class = "Search">   <%= submit_tag "GO", :class => 'btn-tiny btn-warning round'%></tb></tr></table>
  

<% end %>
</div>
<% if user_signed_in? %>
<div id = "homeFeed" class = "feed round">
      <%= render '/feed/nav' %>
      <% @jclubs.each_with_index do |g, i| %>
	<div id= '<%= g.inspect + '_feed' %>' class = "homePageFeed"><%= render '/feed/discussion', :group => g if i == 0 %></div>
      <% end %>
      <% @follows.each_with_index do |follow, i| %>
	<div id = <%= follow.classname + "_feed" %> class = "homePageFeed">
	<%= render '/feed/follow' if i == 0 && @jclubs.empty? %>
	</div>
      <% end %>
      <div id='follow_form' class = "homePageFeed <%= 'hideonload' unless @follows.empty? && @jclubs.empty? %>"><%= render '/feed/follow_form' %></div>
</div>
<% end %>
