<% @paper.figs.each do |fig| %> 
<tr height="10"><td></td></tr>
<table>
<tr class = "summary">
<% unless fig.figsections.count == 0 %>
<td class = "figtoggle">
+
</td>
<% else %>
<td width="20">
</td>
<% end %>
<td class = "sumleft <%= "heat" + @heatmap.select{|h| h[0] == "fig" && h[1] == fig.id}[0][3].to_s %> round fig assertion" >
Fig <%= fig.num %>:
</td>
<td class = "sumright">
  <% if fig.assertions.empty? %>
      <div class="enter_assertion">
      <h5>Enter Summary</h5>
         <%= render 'assertions/form', :assert => fig.assertions.build, :type => "figure", :id => :fig_id %>
      </div>
     <% else %>
     <%= fig.latest_assertion.text %>
     <br>
      <style class="method"><%= fig.latest_assertion.method %> </style>
     <br>
     <nav>
       <ul>
         <li class="improvelink">Improve</li>
          <li class="commentlink">
           <% if @paper.comments.count != 0 %>
             <%= pluralize(fig.comments.count.to_s, "Comment") %>
           <% else %>
             Add a Comment 
           <% end %>
         </li>
              <li class="questionlink">
           <% if @paper.questions.count != 0 %>
             <%= pluralize(fig.questions.count.to_s, "Question") %>
           <% else %>
             Add a Question 
           <% end %>
          </li>
       </ul>
        </nav>
        <p>
        <div class="improve">
          <%= render 'assertions/form', :assert => fig.assertions.build, :type => "figure", :id => :fig_id %>
          <%= render 'assertions/list', :history => fig.assertions.all %>
        </div>
         <div class = "commentbox">
          <h4>Comments</h4>
             <%= render 'comments/list', :comments => fig.comments, :format => 'comment' %>
             <%= render 'comments/form', :comment => fig.comments.build, :reply_to => false, :format => 'comment' %>
         </div>
         <div class = "questionbox">
            <h4>Questions</h4>
            <%= render 'questions/list', :questions => fig.questions.all %>
            <%= render 'questions/form', :question => fig.questions.build, :reply_to => false, :format => 'question' %>
         </div>

      <% end %>
  </td>
</tr>
</table>
<div id="<%= "fig_" + fig.num.to_s + "_sections"%>" class = "fig_sections">
<%= render 'section_assertion', :fig => fig %>
</div>
<% end %>

