<% @paper.figs.each do |fig| %> 
<tr class = "summary">
<td class = "sumleft">
<style class = "med round fig assertion">Fig <%= fig.num %>:</style> 
</td>
<td class = "sumright">
  <% if fig.assertions.empty? %>
      <%= form_for fig.assertions.build, :class => "new_assertion"  do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
         <%= f.text_field :text, :onfocus => "this.value=''", :value => "What is the core assertion of this figure?" %>
         <br>
         This figure has 
         <%= select_tag :numsections, options_for_select(@numfig_select) %>
         <%= f.hidden_field :fig_id %>
         section(s).
         <%= f.submit "Submit" %>
      </div>
      <% end %>
     <% else %>
     <%= fig.latest_assertion.text %>
     <br>
     <nav>
       <ul>
         <li><%= link_to 'Improve', :controller => "assertions", :action => "improve", :id => @paper.latest_assertion.id  %></li>
         <li><%= link_to 'View Discussion', '/figs/' + fig.id.to_s + '/comments'  %></li>
        </ul>
        </nav>
      <% end %>
  </td>
</tr>
<%= render 'section_assertion', :fig => fig %>
<% end %>

