<% @paper.figs.each do |fig| %> 
<tr height="10"><td></td></tr>
<table>
<tr class = "summary">
<% unless fig.figsections.count == 0 %>
<td class = "figtoggle">
+
</td>
<% else %>
<td width="20">
</td>
<% end %>
<td class = "sumleft <%= "heat" + @heatmap.select{|h| h[0] == "fig" && h[1] == fig.id}[0][3].to_s %> round fig assertion" >
Fig <%= fig.num %>:
<% unless fig.image.nil? %>
<%= image_tag fig.image.thumb('80x80>').url, :class => 'thumbnail'%>
<% end %>
</td>
<td class = "sumright">
  <% if fig.assertions.empty? %>
      <div class="enter_assertion">
      <h5>Enter Summary</h5>
         <%= render 'assertions/form', :assert => fig.assertions.build, :type => "figure", :id => :fig_id %>
      </div>
     <% unless fig.image.nil? %>
        <%= image_tag fig.image.thumb('600x600>').url, :class => 'fullfig'%>
     <% end %>
     <% else %>
     <%= fig.latest_assertion.text %>
     <br>
      <style class="method"><%= fig.latest_assertion.method %> </style>
     <br>
       <nav>
       <ul>
         <li class="improvelink">Improve</li>
         <li class="commentlink">  
             <%= form_tag(:comment_list, :method => "get", :class => "commentlist") do  %>
               <%= hidden_field_tag :parent, "Fig" %>
               <%= hidden_field_tag :id, fig.id %>
               <% if fig.comments.count > 0 %>
                 <%= submit_tag(pluralize(fig.comments.count, "Comment")) %>
               <% else %>
                 <%= submit_tag("Add a Comment") %>
               <% end %>
             <% end %>
          </li>
           <li class="questionlink">
             <%= form_tag(:question_list, :method => "get", :class => "questionlist") do  %>
               <%= hidden_field_tag :parent, "Fig" %>
               <%= hidden_field_tag :id, fig.id %>
               <% if fig.questions.count > 0 %>
                 <%= submit_tag(pluralize(fig.questions.count, "Question")) %>
               <% else %>
                 <%= submit_tag("Add a Question") %>
               <% end %>
             <% end %>
           </li>
        </ul>
        </nav>
 
        <div class="improve">
          <%= render 'assertions/form', :assert => fig.assertions.build, :type => "figure", :id => :fig_id %>
          <%= render 'assertions/list', :history => fig.assertions.all %>
        </div>
         <div class = "commentbox", id = <%= "comments_Fig_" + fig.id.to_s %>>
         </div>
         <div class = "questionbox", id = <%= "questions_Fig_" + fig.id.to_s %>>
         </div>
       <% unless fig.image.nil? %>
        <%= image_tag fig.image.thumb('600x600>').url, :class => 'fullfig'%>
        <% end %>
      <% end %>
  </td>
</tr>
</table>
<div id="<%= "fig_" + fig.num.to_s + "_sections"%>" class = "fig_sections">
<%= render 'section_assertion', :fig => fig %>
</div>
<% end %>

