<table><tr><td width = "7px" class = "<%= "heat" + paper[:my_heat].to_s %>"></td>
<td width = '900px'>
	<%= render 'papers/list_menu', :paper => paper %>
	<div class = "sr_title"><%= link_to paper[:title], '/lookup/' + paper[:pubmed_id].to_s %>	
	</div>
	<div class = "sr_info2 small"><%= paper[:journal] %>, <%= paper[:pubdate].strftime('%B %d, %Y') unless paper[:pubdate] == nil %>

	<% if !paper[:abstract].empty? %>
	<p class='abstract_long hideonload'><%= paper[:abstract] %></p>
	<% end %>
	<% if paper[:authors] %>
		<div class = "sr_info2 small grey">First Author: <%= link_to authorname(paper[:authors].first), '/lookup/' + paper[:authors].first[:firstname] + '+' + paper[:authors].first[:lastname] %> 
		<% unless paper[:authors].length == 1 %>
			| Last Author: <%= link_to  authorname(paper[:authors].last), '/lookup/' + paper[:authors].last[:firstname] + '+' + paper[:authors].last[:lastname] %></div>
		<% end %>
	<% end %>	
</td>
</tr>
</table>
