<div id="listMenu">
<% if paper[:pubmed_id] %>
	<div>
		<%= link_to("http://pubget.com/paper/" + paper[:pubmed_id].to_s, :class => 'paperNav', :target => '_blank') do %><%= image_tag 'pdf.png'%><icon class = 'icon-download' style = "position: relative; bottom: 5px;"></icon><% end %>
	</div>
	<% elsif paper[:doi] %>
		<%= link_to("View on " + paper[:journal], "http://dx.doi.org/" + paper[:doi], :class => 'paperNav') %>
	<% end %>
	<% if user_signed_in? && @groups && false %>
	<div class = 'hideonload'>
		<%= link_to('/shares/new/' +  paper[:pubmed_id].to_s, :id => 'shares_new_' + paper[:pubmed_id].to_s, :class => "list_share", :remote => true) do %>Share with Lab <div class = "inline"><icon class = 'icon-share'></icon></div><% end %>
	</div>      
  <% end %>
	<% if !paper[:abstract].empty? %>
	<div>
		<%= link_to "#", :class => "list_abstract deadLink" do %>View Abstract <div class = "inline"><icon class = 'icon-book'></i></div><% end %>
	</div>
	<% end %>
 		<div class="dropdown inline">
  			<div class = "inline"></div> 
			<% if signed_in? %>
               <%= link_to '#', :id => "folder_list_" + paper[:pubmed_id].to_s, :class => "dropdown-toggle", "data-toggle" => "dropdown", :remote => true do %>Add to Folder <div class = "inline"><icon class = 'icon-folder-open'></icon></div><% end %>
               <%= render 'notes/new', :pubmed_id => paper[:pubmed_id], :folders => @folders%>
			<% else %>
				<div class = 'linklike clickme folderAdd'>
                  Add to Folder
                  <div class = "inline">
                    <icon class = 'icon-folder-open'></icon>
                  </div>
                </div>
               <div class="hideonload" style="font-size: 12px; float:right">
                 <h5>With an account you will be able to easily add papers to folders for later reading.</h5>
               </div>
			<% end %>
		</div>
</div>
