	<div class = "sr_title"><%= link_to paper.title, paper %></div>
	<div class = "sr_info2 small"><%= paper.journal %>, <%= paper.pubdate.strftime('%B %d, %Y') unless paper.pubdate == nil %> | 

	<% if paper.pubmed_id %>
		<%= link_to("http://pubget.com/paper/" + paper.pubmed_id.to_s, :target => '_blank') do %>Get PDF <i class = 'icon-download'></i><% end %>
	<% elsif paper.doi %>
		<%= link_to("View on " + paper.journal, "http://dx.doi.org/" + paper.doi.to_s) %>
	<% end %>
	<% if !paper.abstract.empty? %>
		| <%= link_to("Abstract", "#", :class => "abstract deadLink") %>
	<% end %>
	<% if user_signed_in? && false %>
		| <%= link_to("Share", '', :class => "list_share deadLink") %>
	<% end %></div>
	<p class='abstract_long hideonload'><%= paper.abstract %></p>
	<% if user_signed_in? && false %>
		<div id = "<%= "list_share_" + paper.id.to_s %>" class = "list_share hideonload"><%= render 'shares/share_form', :item => paper %></div>
	<% end %>
	<% if paper.first_last_authors %>
		<div class = "sr_info2 small grey">First Author: <%= link_to paper.first_last_authors.first[:name], '/lookup/' + paper.first_last_authors.first[:firstname] + '+' + paper.first_last_authors.first[:lastname] %> | Last Author: <%= link_to  paper.first_last_authors.last[:name], '/lookup/' + paper.first_last_authors.last[:firstname] + '+' + paper.first_last_authors.last[:lastname] %></div>
	<% end %>	

