	<div class = "sr_title"><%= link_to paper.title, paper %></div>
	<div class = "sr_info2 small"><%= paper.journal %>, <%= paper.pubdate.year unless paper.pubdate == nil %> | <%= link_to("Download", "http://pubget.com/paper/" + paper.pubmed_id.to_s) %> | <%= link_to("Pubmed", "http://www.ncbi.nlm.nih.gov/pubmed/" + paper.pubmed_id.to_s) %></div>
	<% unless authors.empty? %>
		<div class = "sr_info2 small grey">First Author: <%= link_to authors.first.name, '/lookup/' + authors.first.firstname + '+' + authors.first.lastname %> | Last Author: <%= link_to authors.last.name, '/lookup/' + authors.last.firstname + '+' + authors.last.lastname %></div>
	<% end %>	

