  <tr class = "paper assertion">
    <td>
      <style class = "cool round core assertion">Core Assertion:</style>
    </td>
  <% unless @paper.assertions.count == 0 %>
    <td width = "80%">
       <%= @paper.latest_assertion.text %>
    </td>
  </tr>
  <% else %>
    <td>
      <% form_for @core_assertion, :class => "new_assertion"  do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
         <%= f.text_field :text, :onfocus => "this.value=''", :value => "What is the core assertion of this paper?" %>
         <br>
         This figure has 
         <%= select_tag :numfigs, options_for_select(@numfig_select) %>
         figure(s).
         <%= f.hidden_field :paper_id %>
         <%= f.submit "Submit" %>
      </div>
      <% end %> 
   <% end %>

