<div style = "float: left; width:51px; height:40px;"></div>
<div id="paperMenu">
<% if @paper.pubmed_id %>

	<div class="dropdown inline">
		<div class = "inline"></div>
      <% if signed_in? %>
				<%= link_to '/folders/add/' + @paper.pubmed_id.to_s, :id => "folder_list_" + @paper.pubmed_id.to_s, :class => "dropdown-toggle", :remote => true do %>Add to Folder <div class = "inline"><icon class = 'icon-folder-open'></icon></div><% end %>
			<% else %>
				<font rel="tooltip" title="With an account you will be able to easily add papers to folders for later reading." class = "clickme"><div class = 'linklike'>Add to Folder  <div class = "inline"><icon class = 'icon-folder-open'></icon></div></div></font>
			<% end %>
	</div>
      <% if signed_in? %>
          <% if current_user.memberships.select{|m| m.lead}.count > 0 %>
              <% if @paper.groups.select{|group| current_user.lead_of?(group)}.count > 0  %>
                <div id="undiscuss">
                  <%=  link_to "Remove From Journal Club", "/groups/undiscuss/#{@paper.id}" %>
                  <div class = "inline">
                    <%= image_tag '/images/icons/glyphicons_056_projector.png', :class => 'icon' %>
                  </div>
                </div>
<% else %>
              <div class="dropdown" id="discussion_link" >
                <%=  link_to "Present to Journal Club", "#", :class => "dropdown-toggle deadlink" %>
                <ul class="dropdown-menu">
                  <% current_user.memberships.select{|m| m.lead}.map{|m| m.group}.each do |group| %>
                      <li>
                        <%= link_to group.name, "/groups/#{group.id}/discuss/#{@paper.id}"%>
                      </li>
                  <% end %>
                </ul>
                <div class = "inline">
                  <%= image_tag '/images/icons/glyphicons_056_projector.png', :class => 'icon' %>
                </div>

              </div>
                  <% end %>
          <% end %>
      <% end %>
              <%= link_to("http://pubget.com/paper/" + @paper.pubmed_id.to_s, :class => 'paperNav', :target => '_blank') do %>
      <%= image_tag 'pdf.png'%>
      <icon class = 'icon-download' style = "position: relative; bottom: 5px;">

      </icon>
  <% end %>
<% elsif @paper.doi %>
              <%= link_to("View on " + @paper.journal, "http://dx.doi.org/" + @paper.doi.to_s, :class => 'paperNav') %>
<% end %>


	<% if  false %>
		<%= render '/shares/share_button' unless @groups.empty? %> 
        <% end %>
</div>
