  <tr class = "summary">
    <td class = "sumleft">
      <style class = "<%= "heat" + @heatmap.select{|h| h[0] == "paper" && h[1] == @paper.id}[0][3].to_s %> round core assertion">Core Assertion:
</style>
    </td>
    <td class = "sumright">
  <% unless @paper.assertions.count == 0 %>
       <%= @paper.latest_assertion.text %>
       <br>
       <nav>
       <ul>
         <li><%= link_to 'Improve', :controller => "assertions", :action => "improve", :id => @paper.latest_assertion.id  %></li>
         <li><%= link_to 'View Discussion', '/papers/' + @paper.id.to_s + '/discussion'  %></li>
         <li><style class = "little">Comments: <%= @heatmap.select{|h| h[0] == "paper" && h[1] == @paper.id}[0][2].to_s %></style></li>
        </ul>
        </nav>
  <% else %>
      <%= form_for @core_assertion, :class => "new_assertion"  do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
         <%= f.text_field :text, :onfocus => "this.value=''", :value => "What is the core assertion of this paper?" %>
         <br>
         This paper has 
         <%= select_tag :numfigs, options_for_select(@numfig_select) %>
         figure(s).
         <%= f.hidden_field :paper_id %>
         <%= f.submit "Submit" %>
      </div>
      <% end %> 
   <% end %>
    </td>
   </tr>
