<% fig.figsections.each do |s| %> 
<table>
<tr height="10"><td></td></tr>
<tr class = "summary">
<td width = "40px"></td>
<td class = "sumleft <%= "heat" + @heatmap.select{|h| h[0] == "figsection" && h[1] == s.id}[0][3].to_s %> round figsection assertion">
Section <%= s.letter(s.num) %>:  
</td>
<td class = "sumright">
<% if s.assertions.empty? %>
      <div class="enter_assertion">
      <h5>Enter Summary</h5>
      <%= render 'assertions/form', :assert => s.assertions.build, :type => "section", :id => :figsection_id %>
      </div>
<% else %>
<%= s.latest_assertion.text %>
<br>
<style class="method"><%= s.latest_assertion.method %> </style>
<br>
       <nav>
       <ul>
         <li class="improvelink">Improve</li>
         <li class="commentlink">  
             <%= form_tag(:comment_list, :method => "get", :class => "commentlist") do  %>
               <%= hidden_field_tag :parent, "Figsection" %>
               <%= hidden_field_tag :id, s.id %>
               <% if s.comments.count > 0 %>
                 <%= submit_tag(pluralize(s.comments.count, "Comment")) %>
               <% else %>
                 <%= submit_tag("Add a Comment") %>
               <% end %>
             <% end %>
          </li>
           <li class="questionlink">
             <%= form_tag(:question_list, :method => "get", :class => "questionlist") do  %>
               <%= hidden_field_tag :parent, "Figsection" %>
               <%= hidden_field_tag :id, s.id %>
               <% if s.questions.count > 0 %>
                 <%= submit_tag(pluralize(s.questions.count, "Question")) %>
               <% else %>
                 <%= submit_tag("Add a Question") %>
               <% end %>
             <% end %>
           </li>
        </ul>
        </nav>
        <div class="improve">
          <%= render 'assertions/form', :assert => s.assertions.build, :type => "figsection", :id => :figsection_id %>
          <%= render 'assertions/list', :history => s.assertions.all %>
         </div>          
         <div class = "commentbox", id = <%= "comments_Figsection_" + s.id.to_s %>>
         </div>
         <div class = "questionbox", id = <%= "questions_Figsection_" + s.id.to_s %>>
         </div>


<% end %> 
</td>
</tr>
</table>
<% end %>

