<% fig.figsections.each do |s| %> 
<tr height="10"><td></td></tr>
<tr class = "summary">
<td class = "sumleft <%= "heat" + @heatmap.select{|h| h[0] == "figsection" && h[1] == s.id}[0][3].to_s %> round figsection assertion">
Section <%= s.num %>:  
</td>
<td class = "sumright">
<% if s.assertions.empty? %>
      <div class="enter_assertion">
      <h5>Enter Summary</h5>
      <%= render 'assertions/form', :assert => s.assertions.build, :type => "section", :id => :figsection_id %>
      </div>
<% else %>
<%= s.latest_assertion.text %>
<br>
<style class="method"><%= s.assertions.last.method %> </style>
<br>
     <nav>
       <ul>
         <li class="improvelink">Improve</li>
         <li class="commentlink">
           <% if @paper.comments.count != 0 %>
             <%= pluralize(s.comments.count.to_s, "Comment") %>
           <% else %>
             Add a Comment 
           <% end %>
         </li>
             <li class="questionlink">
           <% if @paper.questions.count != 0 %>
             <%= pluralize(s.questions.count.to_s, "Question") %>
           <% else %>
             Add a Question 
           <% end %>
           </li>
        </li>
        </ul>
        </nav>
        <div class="improve">
          <%= render 'assertions/form', :assert => fig.assertions.build, :type => "figure", :id => :fig_id %>
          <%= render 'assertions/list', :history => fig.assertions.all %>
         </div>          
         <div class = "commentbox">
          <h4>Comments</h4>
             <%= render 'comments/list', :comments => s.comments, :format => 'comment' %>
             <%= render 'comments/form', :comment => s.comments.build, :reply_to => false, :format => 'comment' %>
         </div>
         <div class = "questionbox">
            <h4>Questions</h4>
            <%= render 'questions/list', :questions => s.questions %>
            <%= render 'questions/form', :question => s.questions.build, :reply_to => false, :format => 'question' %>
         </div>


<% end %> 
</td>
</tr>
<% end %>

