<div id='summary'>
<%= render 'legend' %>
<div class = 'summaryBox heatBox<%= @heatmap['paper' + @paper.id.to_s][1] %>' id = 'paper<%= @paper.id.to_s %>'>
<table width="95%" border="0" cellspacing="0" cellpadding="5">
	<tbody><tr>
		<td>
			<%= render '/assertions/assertion', :about => @paper %>
		</td>
	</tr></tbody>
</table>

<% @paper.figs.sort{|x,y| x.num <=> y.num}.each do |fig| %>
<div class = 'summaryBox heatBox<%= @heatmap['fig' + fig.id.to_s][1] %>' id = 'fig<%= fig.id.to_s %>'>
<table width="95%" border="0" cellspacing="0" cellpadding="5">
	<tbody><tr>
		<td>
			<%= render '/assertions/assertion', :about => fig %>
		</td>
	</tr></tbody>
</table>
</div>
<% end %>
</table>
</div>

</div>

