
<% if signed_in? && Group.exists?(2) %>
<% if current_user.groups.include?(Group.find(2)) %>
  <%= link_to 'Extract images from Medline', '/grab_images/' + @paper.id.to_s %>
<% end %>
<% end %>
<p><h3><%= @paper.title %></h3></p>
<p>Journal: <%= @paper.journal %> 
| 
Pubmed ID: <%= link_to @paper.pubmed_id, 'http://www.ncbi.nlm.nih.gov/pubmed/' + @paper.pubmed_id.to_s %>

<br>
<% @paper.authors.each do |a| %>
  <%= link_to a.lastname + ', ' + a.firstname, '/lookup/' + a.firstname + '+' + a.lastname %>
  <% unless a == @paper.authors.last %>
    |
  <% end %> 
<% end %>

<% unless @paper.abstract.nil? %>
<div id='abstract'>
  <b>Abstract</b>
  <p id='abstract_short'><%= @paper.short_abstract %></p>
  <p id='abstract_long' class='hideonload'><%= @paper.abstract %></p>
</div>
<% end %>

<p>
<%= render 'summary' %>

</p>


<%= link_to 'Back', papers_path %>
