<p><h3><%= @paper.title %></h3></p>
<p>Journal: <%= @paper.journal %> 
| 
Pubmed ID: <%= link_to @paper.pubmed_id, 'http://www.ncbi.nlm.nih.gov/pubmed/' + @paper.pubmed_id.to_s %>

<br>
<% @paper.authors.each do |a| %>
  <%= a.lastname %>, <%= a.firstname %>
  <% unless a == @paper.authors.last %>
    |
  <% end %> 
<% end %>

<p>
  <b>Abstract</b><br>
  <%= @paper.short_abstract %>
</p>

<p>
<%= render 'summary' %>

</p>


<%= link_to 'Back', papers_path %>
