<%= stylesheet_link_tag 'jl_styles_sum1', :media => 'screen' %>
<div id="contentMain">

<div style = "text-align: right;">
<span class="small grey">
<% if @paper.visits.count == 1 %>
	<em><strong>1 person has visited this paper.</strong></em>
<% else %>
	<em><strong><%= pluralize(@numvisits,"Person")%></strong> <%= @numvisits > 1 ? 'have' : 'has' %> visited this paper.</em>
<% end %>
</span>
</div>

<div id="paperInfo" class = "round">
<div style = "float: left; width:64px; height:40px;"></div>
<div id="paperMenu">
<% if @paper.pubmed_id %>
		<%= link_to("http://pubget.com/paper/" + @paper.pubmed_id.to_s, :class => 'paperNav', :target => '_blank') do %><%= image_tag 'pdf.png'%><i class = 'icon-download' style = "position: relative; bottom: 5px;"></i><% end %>
	<% elsif @paper.doi %>
		<%= link_to("View on " + @paper.journal, "http://dx.doi.org/" + @paper.doi.to_s, :class => 'paperNav') %>
	<% end %>
	<% if user_signed_in? %>
		<%= render '/shares/share_button' unless @groups.empty? %> 
        <% end %>
</div>

<h1><%= @paper.title %></h1>
	<h3><%= @paper.journal %> | <%= @paper.pubdate.strftime('%B %d, %Y') unless @paper.pubdate == nil %></h3>
	<div><%= render '/authors/author_list', :paper => @paper %></div>
	<% if @paper.abstract.nil? || @paper.abstract.empty? %>
		<% if @paper.description %>

  			<h4>Description</h4>
  			<p><%= @paper.description %></p>
		</div>
		<% end %>
	<% else %>
		<div id='abstract' class = "clickme">
  			<h4>Abstract</h4>
  			<p id='abstract_short'><%= @paper.short_abstract %></p>
  			<p id='abstract_long' class='hideonload'><%= @paper.abstract %></p>
		</div>
	<% end %>
		<%= render '/reactions/quickform'%>
	<% if user_signed_in? %>
		<%= render 'add_figs' if @paper.figs.empty? %>
	<% end %> 

</div>


<p>
<% if !@paper.figs.empty? || !@paper.comments.empty? || !@paper.questions.empty? || !@paper.reactions.empty? %>
  <%= render 'overview' %>
  <%= render 'summary' %>
  <div id = "add_figs_link"><a  class = "small clickme">Add/Remove Figures</a></div>
  <div id = "add_figs" class = "hideonload">
	<%= render 'add_figs' %>
  </div>
<% end %>

</p>

</div>
