<div class="row">
  <div class="span5">
    <h2>Last but not least, let's learn about summaries.</h2>
    <ul>
      <li><strong>Figure by figure summaries</strong> let people read research up to 5X faster.</li>
      <li>Papers with summaries <strong>get more attention.</strong></li>
      <li>Summarizing your papers and the papers you find relevant is a great way to make them <strong>accessible to people outside of your field.</strong></li>
      <li>Often this is as simple as <strong>copying and pasting your existing notes.</strong></li>
    </ul>
  </div>
</div>
<h3>Here's how to to leave a summary:</h3>
<div class="row">
  <div id="step3Carousel" class="carousel slide span5">
    <ol class="carousel-indicators">
      <li data-target="#step3Carousel" data-slide-to="0" class="active"></li>
      <li data-target="#step3Carousel" data-slide-to="1"></li>
      <li data-target="#step3Carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag 'http://s3.amazonaws.com/j.lab-images/static/step3_1.png' %>
        <div class="carousel-caption">
          <h4>Find an Important Paper</h4>
          <p>Why not start with one of yours?</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'http://s3.amazonaws.com/j.lab-images/static/step3_3.png' %>
        <div class="carousel-caption">
          <h4>Click to Enter a Summary"</h4>
          <p>Summaries should reflect what the author is trying to convey.</p>
          <p>Brief is good! People who want all the details will read the paper.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'http://s3.amazonaws.com/j.lab-images/static/step4_3.png' %>
        <div class="carousel-caption">
          <h4>Click Existing Summaries to Improve Them</h4>
          <p></p>
          <p>Don't like what you see?</p>
          <p>You can always make improvements to a summary.</p>
        </div>
      </div>

      <div class="item text-center">
        <br>
        <h2>Try it out!</h2>
        Summarize one of your papers.
        <br>
        <br>
        <%= form_tag('/lookup', :method => "get") do  %>
            <%= text_field_tag(:search, "Discuss any paper on PubMed.", :onfocus =>  "if(this.value == 'Discuss any paper on PubMed.') { this.value = ''; }", :class => "inputSearch searchreset" ) %>
            <p><%= submit_tag "Search", :class => 'btn-tiny btn-primary round', :style => "vertical-align: top; margin-top: 2px;"%></p>
        <% end %>
        <div class="carousel-caption text-left">
          <h4>Summaries Mean More Exposure</h4>
          <p>They make it easier to find your research and easier to engage with it.</p>
          <p>Some Journal Labbers even find summarizing a useful way to take notes!</p>
        </div>
      </div>


    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#step3Carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#step3Carousel" data-slide="next">&rsaquo;</a>
  </div>
</div>