<header>
  <div class="hideonload overlay"></div>
  <div id='header'>
    <div id='utNav'>
      <% if user_signed_in? %>
          <% if current_user.admin? %>
              <%= link_to "Dashboard", dashboard_path %>
          <% end %>
          <%= link_to destroy_user_session_path do %><div class = "inline floatright"> <icon class = "icon-remove-sign"></icon></div> Sign Out<% end %>
          <%= link_to current_user do %><div class = "inline"> <icon class = "icon-user"></icon></div> Profile<% end %>
          <%= link_to '/users/' + current_user.id.to_s + '/history', :id => 'historyFeedLink', :remote => true do %><div class = "inline"> <icon class = "icon-list"></icon></div> History<% end %>
          <%= link_to '/folders' do %><div class = "inline"> <icon class = "icon-folder-open"></icon></div> Folders<% end %>
          <div class = "hideonload"><%= link_to '/users/' + current_user.id.to_s + '/sharefeed', :id => 'shareFeedLink', :remote => true do %><div class = "inline"> <icon class = "icon-inbox"></icon></div> Inbox
                <% if current_user.new_shares > 0 %>
                    <div class = "badge badge-important" style = "display: inline-block;"><%= current_user.new_shares.to_s %></div>
                <% end %>
            <% end %></div>
      <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
      <%= link_to root_path do %><div class = "inline"> <icon class = "icon-home"></icon></div> Home<% end %>
      <div id = 'contentSearch'>
        <table border="0" align="right" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td >
              <%= form_tag('/lookup', :method => "get") do  %>
                  <%= text_field_tag(:search, "Discuss any paper on PubMed.", :onfocus =>  "if(this.value == 'Discuss any paper on PubMed.') { this.value = ''; }", :class => "inputSearch searchreset" ) %> <%= submit_tag "GO", :class => 'btn-tiny btn-warning round', :style => "vertical-align: top; margin-top: 2px;"%></td>
              <% end %>
              </td>
              </tr>
          </tbody></table>

      </div>
    </div>
    <% logo = image_tag("journal_lab_logo2.png", :alt => "Journal Lab", :width => '160', :height => '90') %>
    <%= link_to logo, root_path %>
  </div>

  <% if Rails.env.production? %>

      <!-- start Google Analytics -->
      <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-25208054-3']);
          _gaq.push(['_setDomainName', 'journallab.org']);
          _gaq.push(['_trackPageview']);

          (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

      </script>
      <!-- end Google Analytics -->
  <% end %>
  <!-- start Us‪erVoice -->
  <script type="text/javascript">
      var uvOptions = {};
      (function() {
          var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
          uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/1Gr4j06X8p4QeZZ7HBSew.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
  </script>
  <!-- end UserVoice -->
</header>
