 <header>
       <% unless @title == 'Home' %>
          <% logo = image_tag("journallab.png", :alt => "The Journal Lab", :id => 'small_logo', :class => "round") %>
          <%= link_to logo, root_path %>
        <% end %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if signed_in? %>
              <% if current_user.admin? %>
              <li><%= link_to "Add Users", bulksignup_path %></li>
              <li><%= link_to "Reset Passwords", reset_password_path %>
              <% end %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
	    <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
            <% else %>                  
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
         </ul>
        </nav>
&nbsp;
            <% unless @title == 'Home' %>
                <div>
                <%= form_tag('/lookup', :method => "get", :class => "topsearch") do  %>
                <%= text_field_tag :pubmed_id %>
                <%= submit_tag("Search") %>
                <% end %>
                </div>
            <% end %>
<% unless Rails.env.test? %>
<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","3cb0b675b6f04afdcfe615a5461c5045"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
<% if signed_in? %>
mpq.name_tag('<%= current_user.anon_name %>');
<% end %>
</script><!-- end Mixpanel -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25208054-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>


      </header>
