 <header>
       <div id='header'>
            <div id='utNav'>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
              <%= link_to "Dashboard", dashboard_path %>
              <% end %>
	    <%= link_to "Sign out", destroy_user_session_path %>
            <%= link_to "Profile", current_user %>
            <% else %>
	    <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Sign in", new_user_session_path %>
            <% end %>
            <%= link_to "Home", root_path %>

            <% unless @title == 'Home' %>

                <div id = 'contentSearch'>
		<table border="0" align="right" cellpadding="0" cellspacing="0">
		      <tbody><tr>
        		<td >
                	<%= form_tag('/lookup', :method => "get") do  %>
                	<%= text_field_tag(:pubmed_id, "Search PubMed with style.", :onfocus =>  "if(this.value == 'Search PubMed with style.') { this.value = ''; }", :class => "inputSearch searchreset" ) %> <%= submit_tag "GO", :class => 'btn-tiny btn-warning round', :style => "vertical-align: top; margin-top: 2px;"%></td>
                	<% end %>
			</td>
      			</tr>
    		       </tbody></table>

                </div>
         </div>
     <% logo = image_tag("journal_lab_logo2.png", :alt => "Journal Lab", :width => '160', :height => '90') %>
     <%= link_to logo, root_path %>
     </div>
<% end %>

<% if Rails.env.production? %>
<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","3cb0b675b6f04afdcfe615a5461c5045"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
<% if user_signed_in? %>
mpq.identify('<%= current_user.id %>');
mpq.name_tag('<%= current_user.name %>');
<% end %>
</script><!-- end Mixpanel -->
<!-- start Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25208054-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end Google Analytics -->
<!-- start Us‪erVoice -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/1Gr4j06X8p4QeZZ7HBSew.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<!-- end UserVoice -->
<% else %>
<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","bb8a02eccfc6f2c3fa37cec5876cbc07"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
<% if user_signed_in? %>
mpq.identify('<%= current_user.id %>');
mpq.name_tag('<%= current_user.name %>');
<% end %>
</script><!-- end Mixpanel -->
<% end %>
<!-- start Us‪erVoice -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/1Gr4j06X8p4QeZZ7HBSew.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<!-- end UserVoice -->
      </header>
