<!DOCTYPE html>
<html>
  <head>
    <% if @title == 'Home' && !signed_in? && Rails.env.production?%>
        <!-- Google Analytics Content Experiment code -->
        <script>
            _udn = 'journallab.org';
        </script>
        <script>
            function utmx_section(){}function utmx(){}(function(){var
                k='64125235-0',d=document,l=d.location,c=d.cookie;
            if(l.search.indexOf('utm_expid='+k)>0)return;
            function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
                    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
                    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
                    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
                            '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
                            '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
                            valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
                            '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
        </script><script>utmx('url','A/B');</script>
        <!-- End of Google Analytics Content Experiment code -->
    <% end %>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'application', :media => 'screen' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js' %>
    <%= javascript_include_tag 'application' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>

    <%= render 'layouts/header' %> 
    <section>
      <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <div id='labTable'>
           <%= yield %>
           </div>
       </div>
    </section>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
